.root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 2% 10% 0%;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #000;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
  margin: 10px auto;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 4s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}




.title {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 0.4em;
  text-transform: uppercase;
}

.title_color {
  background-color: #000;
  color: #ffff;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.subtitle_color {
  // color: #22A699;
  // color: red;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  
}

.p {
  font-size: 1rem;
  text-align: center;
  padding: 1.2rem;
}


// @media only screen and (min-width: 481px) and (max-width: 767px) {
//   .title {
//     font-size: 1.7rem;
//   }
//   .subtitle  {
//     font-size: 1rem;
//   }
//   .p {
//     font-size: 0.8rem;
//   }
// }




@media screen and (max-width: 767px) {
  .root {
    margin-top: 0.7rem;
  }
  .title {
    font-size: 2rem;
  }

}


